<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://ec2-18-217-70-140.us-east-2.compute.amazonaws.com/MonitorDeLoterias" version="1.0.0" viewmodes="maximized">
    <tizen:application id="o1Dfldi6S0.MonitorDeLoterias" package="o1Dfldi6S0" required_version="2.3"/>
    <author href="http://ec2-18-217-70-140.us-east-2.compute.amazonaws.com/loterias" email="brunomaarques@hotmail.com.br">Bruno Marques</author>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.1080.1920"/>
    <icon src="icon.png"/>
    <name>MonitorDeLoterias</name>
    <tizen:privilege name="http://tizen.org/privilege/application.launch"/>
    <tizen:privilege name="http://tizen.org/privilege/alarm"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.read"/>
    <tizen:privilege name="http://tizen.org/privilege/filesystem.write"/>
    <tizen:privilege name="http://tizen.org/privilege/internet"/>
    <tizen:privilege name="http://tizen.org/privilege/tv.inputdevice"/>
    <tizen:profile name="tv-samsung"/>
    <tizen:setting screen-orientation="landscape" context-menu="enable" background-support="disable" encryption="disable" install-location="auto" hwkey-event="enable"/>
</widget>
